@import "https://fonts.googleapis.com/css?family=Nosifer&display=fallback";
#image {
    background-image: url("https://www.privacytools.io/assets/img/svg/layout/brand/horizontal.svg");
    background-size: 100px 50px;
    width: 100px;
    height: 50px;
}
#font {
    font-family: Nosifer;
}
